/* color palette */
$color-primary: #116e99;
$color-primary-light:#1ca8e0;
$color-primary-dark: #135777;

$color-primary-green: #55c57a;
$color-primary-green-light:#7ed56f;
$color-primary-green-dark: #28b485;

$color-secondary-light: #ffb900;
$color-secondary-dark: #ff7730;

$color-tertiary-light: #2998ff;
$color-tertiary-dark: #5643fa;

$color-gray-dark: #777;
$color-gray-medium: #a1a1a1;
$color-gray-light: #f7f7f7;

$color-white: #fff;
$color-black: #000;
$color-green: #13b35b;

//GRID
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 6rem;
$gutter-horizontal: 6rem;

//font
$default-font-size: 1.6rem;