.footer {
    //background-color: rgba($color-gray-light, .5);
    background-image: linear-gradient(transparent, $color-gray-light 20%);
    padding: 10rem 0;
    font-size-adjust: 1.4rem;
    color: $color-gray-dark;

    @include respond(tab-port) {
        padding: 8rem 0;
    }

    &__logo-box {
        text-align: center;
        margin-bottom: 8rem;

        @include respond(tab-port) {
            margin-bottom: 4rem;
        }
    }

    &__logo {
        width: 10rem;
        height: auto;
        filter: grayscale(90%);
    }

    &__navigation {
        border-top: 1px solid $color-gray-dark;
        padding-top: 2rem;
        display: inline-block;

        @include respond(tab-port) {
            width: 100%;
            text-align: center;
        }
    }

    &__list {
        list-style: none;

    }

    &__item {
        display: inline-block;
        color: inherit;
        &:not(:last-child) {
            margin-right: 1.5rem;
        }
    }

    &__link {
        &:link,
        &:visited {
            color: $color-gray-dark;
            text-decoration: none;
            text-transform: uppercase;
            display: inline-block;
        }

        &:hover,
        &:active {
            border-bottom: 1px solid $color-primary;
        }
    }

    &__copyright {
        border-top: 1px solid $color-gray-dark;
        color: $color-gray-dark;
        padding-top: 2rem;
        width: 80%;
        float: right;

        @include respond(tab-port) {
            width: 100%;
            text-align: center;
            float: none;
        }
    }
}